%button-style {
    @include button-style;
}

.button-outlined {
	@extend %button-style;

	border: 1px solid $buttonOutlinedFirstColor;
	background-color: $buttonOutlinedSecondColor;
	box-shadow: none;

	color: $buttonOutlinedFirstColor;

	&.button-inverse {
		background: $buttonOutlinedFirstColor;
		color: $buttonOutlinedSecondColor;
		&:hover {
			color: $buttonOutlinedSecondColor;
			background: $buttonOutlinedSecondColor;
		}
	}

	&:hover {
		background-color: $buttonOutlinedFirstColor;
		color: $buttonOutlinedSecondColor;
	}
}