$cardPadding: 12px;

.reb-item {
    position: relative;
    @include flex(space-between, column);
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    .reb-item-header {
        img {
            width: 100%;
            height: auto;
        }
    }
    .reb-item-content {
        padding: 5px 10px;

        .reb-item-address {
            font-size: 14px;
            &, a, i {
                color: #666;
            }
        }

        .reb-item-title {
            font-size: 18px;
            margin: 10px 0;
            &, a {
                color: #111;
            }
        }
    }

    .reb-item-footer {
        border-top: 1px solid #e7e7e7;
        padding: 10px 0;
        text-align: center;
        a {
            font-size: 14px;
        }
    }
}

.card {
    position: relative;
    background-color: #fff;
    margin: 5px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;

    @include flex(space-between, column);
 
    &.card--single { 
        padding: $cardPadding;
    }

    > div {
        padding: $cardPadding;
    }

    .card-header {
        border-bottom: 1px solid #e7e7e7;

        h2 {
            font-size: 22px;
            font-weight: bolder;
            color: #111;
            padding: 10px 0;
        }
    }
    .card-footer {
        border-top: 1px solid #e7e7e7;
    }
}

p.labeled {
    label {
        display: block;
        font-size: 14px;
        color: #666;
    }
    a, span {
        color: #111;
        font-size: 16px;
    }
}