.fa {
    color: $iconColor;
    @extend %smooth_animation;

    &:hover {
        color: #000;
    }
}

.fa.reversed-color {
    color: $iconColorReversed
}

button:hover .fa {
    color: #000;
}

a:hover .fa {
    color: #000;
}