a {
    text-decoration: none;
    color: $linkFontColor;
    @extend %smooth_animation;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $linkFontColorActive;
    }
}
