ul,
ol {
    padding-left: 20px;
}

.social-links {
    @extend %reset-list;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;

        a {
            font-size: 18px;
        }
    }
}

.default-socials {
    @extend %reset-list;

    li {
        display: inline-block;
        list-style: none;
        margin: 0 4px;
        a {
            &.social-link {
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50px;
                align-items: center;
                text-align: center;
                background: #000;

                &-facebook {
                    background: #3b5999;
                }
                &-twitter {
                    background: #55acee;
                }
                &-vk {
                    background: #4c75a3;
                }
                &-linkedin {
                    background: #0077B5;
                }
                &-instagram {
                    background: #d6249f;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                }
            }
            i {
                display: inline-block;
                padding-top: 10px;
                font-size: 24px;
                color: #fff;
            }
        }
    }
}

.archive-pagination {
    margin: 0;
    padding: 0;
    text-align: center;


    li {
        list-style: none;
        display: inline-block;
        font-size: 16px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        a {
            display: inline-block;
            padding: 10px 15px;
        }
        &.active {
            background-color: #fff;
            font-weight: bold;
        }
        &:first-child {
            border-left: 1px solid #e7e7e7;
            border-radius: 3px 0 0 3px;
        }
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }
}