@mixin button-style {
    display: inline-block;
    border: none;
    border-radius: $borderRadius;
    background-color: $buttonBgColor;
    color: $buttonFontColor;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    @include box-shadow($shadow);
    @include smooth_animation;

    &:hover {
        color: $buttonFontColor;
        background-color: $buttonBgColorActive;
        @include box-shadow(none);
  }

  &:active {
    background-color: $buttonBgColor;
    @include box-shadow(none);
  }

  &:focus {
    outline: 0;
  }
}

