.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    background: #3f3f3f;

    * { 
        color: #fff;
    }

    .footer-admins {
        padding: 15px;
        background-color: $themeColorTwo;

        .footer-admins-list {
            &, .footer-admins-list-item {
                @include flex(center, row, nowrap);
                margin: 0 5px;

                .footer-admins-list-item-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 4px;
                    background-color: #f55050;
                    display: inline-block;
                    i {
                        font-size: 24px;
                        padding-left: 5px;
                    }
                }
                .footer-admins-list-item-icon,
                .footer-admins-list-item-name {
                    text-align: center;
                    @include flex(center, column);
                }

                .footer-admins-list-item-name {
                    font-size: 18px;
                    margin: 0 4px;
                }
            }
        }
    }

    .footer-content {
        padding: 15px;
    }

    .footer-links {
        text-align: center;
    }

    .footer-logo {
        @include textLogoStyles(28px);
    }

    .footer-copy {
        text-align: right;
        span {
            color: #666;
            a {
                text-decoration: underline;
                color: #666;
            }
        }
    }
}

.pre-footer {
    padding: 20px 0;
    background-color: lighten($footerBgColor, 10%);
}

.copyright {
    padding: 14px 0;
    background-color: $footerBgColor;
    text-align: center;
    color: $footerFontColor;

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        .flex-container {
            flex-direction: column;
        }
        .footer-logo,
        .footer-copy {
            text-align: center;
        }

        .footer-links {
            padding: 15px 0;
        }
    }
}