// Pre header - logo container
// @author yorkbc2@gmail.com
@mixin textLogoStyles ($size: 32px) {
    padding: 3px 0;
    font-size: $size;
    font-weight: bolder;
}
.pre-header {
    position: relative;
    background-color: $themeColorTwo;
    *,
    *:hover {
        color: #fff;
    }
    .pre-header-container {
        @include flex(space-between);

        .pre-header-logo {
            @include flex(center, column);
            @include textLogoStyles();
        }

        .pre-header-buttons {
            @include flex();
            a {
                @include flex(center, column);
                padding: 15px 18px;
                font-size: 18px;
                &:first-child {
                    border-right: 1px solid lighten($themeColorTwo, 20%);
                }
                i {
                    font-size: 20px;
                    font-weight: lighter;
                }
            }
        }
    }
}

.search-trigger {
    position: relative;

    &:hover {
        .search-form {
            opacity: 1;
            top: 100%;
        }
    }

    .search-form {
        position: absolute;
        top: -999px;
        width: 240px;
        left: 50%;
        transform: translateX(-50%);

        padding: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 13px rgba(0,0,0,0.25);
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;   

        input {
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            color: #000;
            &:focus {
                box-shadow: 0px 0px 13px lighten($themeColorTwo, 20%);
            }
        }

        z-index: 9999;
    }
}

.phone {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;
        }
    }
}
