.pre-header {
    padding: 5px 0;
    background-color: $preHeaderBgColor;
    color: $preHeaderColor;
}

.page-header {
    padding: 10px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
}

.logo {
    &,
    &-link,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }
}

.phone {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;
        }
    }
}
