.main-nav {
    .menu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;

        .current-menu-item {
            position: relative;

            .menu-link {
              display: block;
              padding: 15px 20px;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 5px;
                background-color: $themeColorTwo;
                @extend %smooth_animation;
            }
        }

        .menu-item {
            flex-grow: 1;
            text-align: center;
            border-right: 1px solid black;

            &:last-child {
                border-right: 0;
            }

            a {
                display: block;
                width: 100%;
                padding: 15px 20px;
                background-color: $menuBgColor;
                @extend %smooth_animation;
                color: $menuFontColor;

                &:hover {
                    background-color: $menuBgColorActive;
                    color: $menuFontColorActive;
                }

                &:active {
                    @include box-shadow(inset 0 0 10px #3b3b3b);
                }
            }
        }

        .menu-item-has-children {
            position: relative;

            .sub-menu {
                background-color: $menuBgColor;
                list-style: none;
                position: absolute;
                width: 220px;
                top: 100%;
                left: 0;
                z-index: 33;
                display: none;

                .menu-item {
                    border-right: 0;

                    a {
                        display: block;
                        padding: 15px 10px;
                        text-align: left;
                        @extend %smooth_animation;
                    }

                    .sub-menu {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        z-index: 33;
                        display: none;
                    }

                    &:hover .sub-menu {
                        display: block;
                    }
                }
            }

            &:hover .sub-menu {
                display: block;
            }
        }
    }
}

.nav-mobile-header {
    display: none;
}

//xs 544
@media #{$mobile} {
    nav.main-nav {
        display: none;
        .menu-container {
            display: block;
        }
    }
    .nav-mobile-header {
        display: block;
        position: fixed;
        width: 100%;
        padding: 10px 15px;

        top: 0;
        left: 0;
        
        border-bottom: 1px solid #e7e7e7;
        background-color: $navHeaderMobileBGColor;
        text-align: center;

        z-index: 99;

        img {
            max-height: 50px;
        }

        .hamburger {
            position: absolute;
            top: 20px;
            left: 10px;
        }
    }
}


.nav {
   .menu {
       @extend %reset-list;
       font-size: 0;

       &-item {
           display: inline-block;
           vertical-align: middle;
           padding: 5px;

           .menu-item-has-children-arrow {
            display: none;
           }

           &-close {
               cursor: pointer;
               position: relative;
               display: none;
               width: $menu-close-size;
               height: $menu-close-size;
               border: 0;
               background-color: transparent;
               -webkit-tap-highlight-color: transparent;
               @include touch-action(manipulation);

               &:focus {
                   outline: 0;
                   @include box-shadow(0 0 0 4px rgba($menu-close-color, .2));
               }

               &::before,
               &::after {
                   content: '';
                   width: 100%;
                   height: 2px;
                   background-color: $menu-close-color;
                   position: absolute;
                   top: 0;
                   right: 0;
                   bottom: 0;
                   left: 0;
                   margin: auto;
               }

               &::before {
                   @include transform(rotate(45deg));
               }

               &::after {
                   @include transform(rotate(-45deg));
               }
           }

           &-has-children {
               position: relative;
           }

           .no-touch &:hover,
           &-current,
           &.current-menu-parent,
           &.current-menu-ancestor {
               .menu-link {
                   text-decoration: none;
               }
           }

           .no-touch &:hover {
               > .sub-menu {
                   top: 100%;
                   visibility: visible;
                   @include opacity(1);
               }
           }
       }

       &-link {
           display: block;
           padding: 8px 10px;
           color: #000;
           font-size: 16px;
           line-height: 1.3;
           text-align: center;
           text-transform: none;
           text-decoration: none;
           @extend %smooth_animation;
       }
   }

   .sub-menu {
       @extend %reset-list;
       position: absolute;
       top: 200%;
       left: 0;
       z-index: 33;
       width: 250px;
       background-color: #fff;
       visibility: hidden;
       text-align: left;
       @include opacity(0);
       @include box-shadow(0 5px 20px rgba(#000, .2));
       @extend %smooth_animation;

       &-item {
           .menu-item-has-children-arrow {
            display: none;
           }
           &-has-children {
               position: relative;
           }

           .no-touch &:hover,
           &-current {
               > .sub-menu-link {
                   background-color: #ccc;
               }
           }

           .no-touch &:hover {
               > .sub-menu {
                   display: block;
                   visibility: visible;
                   @include opacity(1);
               }
           }
       }

       &-link {
           display: block;
           padding: 8px 15px;
           color: #000;
           font-size: 14px;
           line-height: 1.3;
           text-decoration: none;
           @extend %smooth_animation;
       }

       .sub-menu {
           top: 0;
           left: 100%;
       }
   }
}

.hamburger {
   display: none;
   vertical-align: middle;
   -webkit-tap-highlight-color: transparent;
   @include touch-action(manipulation);
   @include transition(.2s ease-out);

   &:focus {
       outline: 0;
       @include box-shadow(0 0 0 4px rgba($hamburger-color, .2));
   }

   &,
   &[type="button"] {
       cursor: pointer;
       border: 0;
       padding: 9px 5px;
       background-color: transparent;
   }

   &-box {
       display: block;
       width: 30px;
       padding: 9px 0;
   }

   &-inner {
       position: relative;
       @include transition(background-color 0s ease-out $hamburger-delay);

       &,
       &::before,
       &::after {
           display: block;
           width: 100%;
           height: 2px;
           background-color: $navHamburgerMobileColor;
       }

       &::before,
       &::after {
           content: '';
           position: absolute;
           left: 0;
           @include transition(bottom $hamburger-duration ease-out $hamburger-delay, top $hamburger-duration ease-out $hamburger-delay, transform $hamburger-duration ease-out);
       }

       &::before {
           bottom: $hamburger-offset;
       }

       &::after {
           top: $hamburger-offset;
       }
   }
}

.is-active {
   .hamburger-inner {
       background-color: transparent;

       &::before,
       &::after {
           @include transition(bottom $hamburger-duration ease-out, top $hamburger-duration ease-out, transform $hamburger-duration ease-out $hamburger-delay);
       }

       &::before {
           bottom: 0;
           @include transform(rotate(45deg));
       }

       &::after {
           top: 0;
           @include transform(rotate(-45deg));
       }
   }
}

//xs 544
@media #{$mobile} {
   .hamburger {
       display: inline-block;
       position: absolute;
       top: 0;
       right: 10px;
   }

   .nav {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       z-index: 100;
       overflow: auto;
       background-color: #333;
       will-change: transform;
       @include transform(translateX(100%));
       @include transition(transform .2s ease-out);

       &.is-active {
           @include transform(translateX(0%));
       }

       .menu {
           display: block;
           padding: 40px 0;

           &-close {
               display: block;
               position: absolute;
               top: 10px;
               right: 10px;
           }

           &-item {
               display: block;

               .menu-item-has-children-arrow {
                   position: absolute;
                   border: 0;
                   padding: 0;
                   border-right: 2px solid $navArrowColor;
                   border-bottom: 2px solid $navArrowColor;
                   transform: rotate(45deg);
                   background-color: transparent;
                   width: 10px;
                   height: 10px;
                   top: 20px;
                   right: 15px;
                   &-active {
                       transform: rotate(45deg) scale(-1);
                   }
               }

               &-current,
               &.current-menu-parent,
               &.current-menu-ancestor {
                   .menu-link {
                   }
               }
           }

           &-link {
               color: #fff;
               display: block;
           }
       }

       .sub-menu {
           position: static;
           width: auto;
           visibility: visible;
           @include opacity(1);
           @include box-shadow(none);

           &-item {
               .menu-item-has-children-arrow {
                   top: 12px;
               }

               & + .sub-menu-item {
               }

               &-current {
                   > .sub-menu-link {
                   }
               }
           }

           &-link {
               color: #fff;
           }
       }
   }
}