//BRAND
$themeColorOne: #4b4b4b; // header, menu, footer, title, 
$themeColorTwo: #8ad331; // menu active item, button, footer link hover,
$themeColorThree: #d33131;
$themeColorFour: #656565; //menu hover item, table border,

//BODY
$bodyBgColor: #fff; //white
$bodyFontColor: #000; // black

//PreHeader
$preHeaderBgColor: $themeColorOne;
$preHeaderColor: $themeColorThree;

//HEADER
$headerBgColor: $themeColorOne;
$headerFontColor: #000;

//MENU
$menuBgColor: $themeColorOne;
$menuBgColorActive: $themeColorFour;
$menuFontColor: #fff;
$menuFontColorActive: #fff;

//FOOTER
$footerBgColor: $themeColorOne;
$footerFontColor: #fff;
$footerLinkColorActive: $themeColorTwo;

//WRAPPER
$wrapperBgColor: #fff;

//TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

//LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

//BUTTONS
$buttonFontColor: #fff;
$buttonFontColorActive: #fff;
$buttonBgColor: $themeColorTwo;
$buttonBgColorActive: lighten($themeColorTwo, 10%);

//TABLE
$tableBgColor: #d6d6d6;
$tableBorderColor: $themeColorFour;

//TEXT
$textMutedColor: #aaa;
