//BRAND
$themeColorOne: #4b4b4b; // header, menu, footer, title, 
$themeColorTwo: #0027ff; // menu active item, button, footer link hover,
$themeColorThree: #00ff0a; //preHeader bg,
$themeColorFour: #ff0000; //menu hover item, table border, preHeader font

//BODY
$bodyBgColor: #fff; //white
$bodyFontColor: #000; // black

//PreHeader
$preHeaderBgColor: $themeColorThree;
$preHeaderColor: $themeColorFour;

//HEADER
$headerBgColor: $themeColorOne;
$headerFontColor: #000;

//MENU
$menuBgColor: $themeColorOne;
$menuBgColorActive: $themeColorFour;
$menuFontColor: #fff;
$menuFontColorActive: #fff;

//FOOTER
$footerBgColor: $themeColorOne;
$footerFontColor: #fff;
$footerLinkColorActive: $themeColorTwo;

//WRAPPER
$wrapperBgColor: #fff;

//TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

//LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);


//BUTTONS
$buttonFontColor: #fff;
$buttonFontColorActive: #ffffff;
$buttonBgColor: $themeColorTwo;
$buttonBgColorActive: lighten($themeColorTwo, 10%);
$buttonBorderColor: #000000;

//TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;

//TEXT
$textMutedColor: #aaa;

//Icons
$iconColor: $themeColorOne;
$iconColorActive: $themeColorTwo;
$iconcolorReversed: $themeColorThree;

//FORM
$formBorderColor: lighten($themeColorOne, 30%);
$formBgColor: lighten($themeColorOne, 60%);