//font-family: Docker, sans-serif;

//@font-face {
//  font-family: Docker;
//  src: url("fonts/Docker-One.ttf");
//}

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster&subset=cyrillic');

//font-family: 'Lobster', cursive;
//font-family: 'Comfortaa', cursive;

$fontFamilyOne: 'Lobster', cursive; //titles
$fontFamilyTwo: 'Comfortaa', cursive; //body