.bold {
    font-weight: 900;
}

.center-block {
    text-align: center;
    display: block !important;
    margin: 0 auto;
}

.text-muted {
    color: $textMutedColor;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-just {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

.text-nowrap {
    white-space: nowrap;
}

.hide-on-mobile {
    display: block !important;
}

.hide-on-desktop {
    display: none !important;
}

//xs 544
@media #{$mobile} {
    .hide-on-mobile {
        display: none !important;
    }
    
    .hide-on-desktop {
        display: block !important;
    }
}

