strong {
    font-weight: 800;
}

.center-block {
    text-align: center;
    display: block !important;
    margin: 0 auto;
}

.text-muted {
    color: $textMutedColor;
}

.text-center {
    text-align: center;
}

.text-just {
    text-align: justify;
}

.text-underline {
    text-decoration: underline;
}

.hide-on-mobile {
    display: block;
}

.hide-on-desktop {
    display: none;
}

//xs 544
@media #{$mobile} {
    .hide-on-mobile {
        display: none;
    }
    
    .hide-on-desktop {
        display: block;
    }
}

