// FUNCTIONS
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calc-responsive-font-size($font-size-min, $font-size-max, $viewport-width-min, $viewport-width-max, $units: px) {

  $font-size-min: strip-unit($font-size-min);
  $font-size-max: strip-unit($font-size-max);
  $viewport-width-min: strip-unit($viewport-width-min);
  $viewport-width-max: strip-unit($viewport-width-max);

  $k: ($font-size-max - $font-size-min) / ($viewport-width-max - $viewport-width-min);

  $b: $font-size-min - $k * $viewport-width-min;

  $b: $b + $units;

  @return calc(#{$k} * 100vw + #{$b});

}

// MIXINS
@import "mixins/prefixer";
@import "mixins/button";
@import "mixins/clearfix";
@import "mixins/css3";
@import "mixins/ellipsis";
@import "mixins/font-smoothing";
@import "mixins/grid-column";
@import "mixins/letter-spacing";
@import "mixins/line-height";
@import "mixins/position";
@import "mixins/responsive-font-size";
@import "mixins/responsive-headers";
@import "mixins/size-block";
@import "mixins/sprite";
@import "mixins/text-size-adjust";
@import "mixins/touch-action";
@import "mixins/triangle";
@import "mixins/viewport";
@import "mixins/word-wrap";

%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
