section {
    text-align: justify;

    img {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }
}

//Comments list
ol.commentlist {
    .comment-body {
        margin-bottom: 25px;
    }
}
