// <div class="sp-xs-2 sp-sm-2 sp-md-2 sp-lg-2 sp-xl-2"></div>

$space-qty: 10;
$space-multiplier: 1;

$space-map: (
    extra-small: xs,
    small: sm,
    medium: md,
    large: lg,
    extra-large: xl
);

$space-media-map: (
    small: 545,
    medium: 769,
    large: 1025,
    extra-large: 1367
);

@each $name, $value in $space-map {
    @if $name == extra-small {
        @for $i from 1 through $space-qty {
            .sp-#{$value}-#{$i} {
                height: #{$i * $space-multiplier}vh;
            }
        }

    } @else {

        @media only screen and (min-width: #{map-get($space-media-map, $name)}px) {

            @for $i from 1 through $space-qty {

                .sp-#{$value}-#{$i} {
                    height: #{$i * $space-multiplier}vh;
                }
            }
        }
    }
}
