@mixin form-style {
    background-color: $formBgColor;
    padding: 25px;
    @include box-shadow($shadow);
}

@mixin form-field-style {
    border: 1px solid $formBorderColor;
    padding: 8px;
    border-radius: $borderRadius;
}

form {
    width: 100%;
    
    fieldset {
        @include form-style;
        
        label {
            font-weight: 800;
        }
        
        input {
            width: 100%;
            margin-bottom: 20px;
            @include form-field-style;
        }
        
        input[type="submit"] {
            @include button-style;
            margin-bottom: 0;
        }
        
        textarea {
            width: 100%;
            margin-bottom: 30px;
            @include form-field-style;
        }
    }
}

//Search form style
form.form-inline {
    margin: 14px auto;
    max-width: 300px;
    
    input {
        width: calc(100% - 40px);
        @include form-field-style;
        
        &:focus {
            border: 1px solid $themeColorTwo;
        }
    }
}
//Search form style end

//Comment form on single post page
form#commentform {
    @include form-style;
    
    .form-group {
        label {
            text-align: left;
        }
        
        input {
            width: 100%;
            margin-bottom: 10px;
            @include form-field-style;
        }
        
        textarea {
            width: 100%;
            margin-bottom: 10px;
            @include form-field-style;
        }
    }
}
//Comment form  end