@mixin form-style {
    background-color: $formBgColor;
    padding: 25px;
    @include box-shadow($shadow);
}

@mixin form-field-style {
    background-color: $formFieldBackgroundColor;
    border: $formFieldBorderWidth solid $formFieldBorderColor;
    padding: $formFieldPadding;
    color: $formFieldTextColor;
    font-size: $formFieldTextSize;
    @include border-radius($formFieldBorderRadius);
}

%form-field-style {
    @include form-field-style();
}

form {
    width: 100%;
    
    fieldset {
        @include form-style;
        
        label {
            font-weight: 800;
        }
        
        input {
            width: 100%;
            margin-bottom: 20px;
            @extend %form-field-style;
        }
        
        input[type="submit"] {
            @include button-style;
            margin-bottom: 0;
        }
        
        textarea {
            width: 100%;
            margin-bottom: 30px;
            @extend %form-field-style;
        }
    }
}

//Search form style
form.form-inline {
    margin: 0 auto;
    max-width: 300px;
    
    input {
        width: calc(100% - 40px);
        @extend %form-field-style;

        &:focus {
            border: 1px solid $themeColorTwo;
        }
    }
}
//Search form style end

//Comment form on single post page
#commentform {
    @include form-style;
    
    .form-group {
        label {
            text-align: left;
        }
        
        input {
            width: 100%;
            margin-bottom: 10px;
            @extend %form-field-style;
        }
        
        textarea {
            width: 100%;
            margin-bottom: 10px;
            @extend %form-field-style;
        }
    }
}
//Comment form  end

[type='text'],
[type='password'],
[type='email'],
[type='search'],
[type='tel'],
[type='url'],
[type='number'],
[type='range'],
[type='month'],
[type='week'],
[type='date'],
[type='datetime-local'],
[type='time'],
textarea,
select {
    @extend %form-field-style;
}
