a {
    text-decoration: none;
    color: $linkFontColor;
    @include smooth_animation;
    
    &:hover, &:active, &:focus {
        text-decoration: none;
        color: $linkFontColorActive;
    }
}