$fonts_mobile: 0.7;
$fonts_tablet: 0.8;
$fonts_under-wrap: 0.85;
$fonts_desktop: 0.9;
$fonts_screen: 1.1; //Имеет смысл увеличивать значение, если контент страници на всю ширену экрана 

$menu_tablet: 0.7;
$menu_under-wrap: 0.8;

$p_mobile: 0.8;

$h1_hero_size: 57px;
          $h1_size: 47px;
          $h2_size: 38px;
          $h3_size: 32px;
          $h4_size: 27px;
          $h5_size: 23px;
          $h6_size: 20px;
            $p_size: 18px;
           $ul_size: 18px;
    $menu_size: 16px;

$h1_hero_line-height: 57px;
          $h1_line-height: 47px;
          $h2_line-height: 38px;
          $h3_line-height: 32px;
          $h4_line-height: 27px;
          $h5_line-height: 23px;
          $h6_line-height: 20px;
            $p_line-height: 22px;
           $ul_line-height: 22px;
    $menu_line-height: 22px;


h1, h2, h3, h4, h5, h6, h1.hero-title {
    color: $titleFontColor;
    font-family: $fontFamilyOne;
    
    a {
        color: $titleFontColor;
        
        &:hover {
            color: $titleFontColorActive;
        }
    }
}

h1.hero-title {
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

i.button-style {
    padding: 3px 8px;
}


@media #{$mobile} {
    h1.hero-title {
        font-size: $fonts_mobile * $h1_hero_size;
        line-height: $fonts_mobile * $h1_hero_line-height;
    }
    
    h1 {
        font-size: $fonts_mobile * $h1_size;
        line-height: $fonts_mobile * $h1_line-height;
    }

    h2 {
        font-size: $fonts_mobile * $h2_size;
        line-height: $fonts_mobile * $h2_line-height;
    }

    h3 {
        font-size: $fonts_mobile * $h3_size;
        line-height: $fonts_mobile * $h3_line-height;
    }

    h4 {
        font-size: $fonts_tablet * $h4_size;
        line-height: $fonts_tablet * $h4_line-height;
    }

    h5 {
        font-size: $fonts_mobile * $h5_size;
        line-height: $fonts_mobile * $h5_line-height;
    }

    h6 {
        font-size: $fonts_mobile * $h6_size;
        line-height: $fonts_mobile * $h6_line-height;
    }

    p {
        font-size: $p_mobile * $p_size;
        line-height: $p_mobile * $p_line-height;
    }
    
    ul li, ol li {
        font-size: $fonts_mobile * $menu_size;
        line-height: $fonts_mobile * $menu_line-height;
    }
    
    li a {
        font-size: $fonts_mobile * $menu_size;
        line-height: $fonts_mobile * $menu_line-height;
    }
}

@media #{$tablet} {
    h1.hero-title {
        font-size: $fonts_tablet * $h1_hero_size;
        line-height: $fonts_tablet * $h1_hero_line-height;
    }
    
    h1 {
        font-size: $fonts_tablet * $h1_size;
        line-height: $fonts_tablet * $h1_line-height;
    }

    h2 {
        font-size: $fonts_tablet * $h2_size;
        line-height: $fonts_tablet * $h2_line-height;
    }

    h3 {
        font-size: $fonts_tablet * $h3_size;
        line-height: $fonts_tablet * $h3_line-height;
    }

    h4 {
        font-size: $fonts_tablet * $h4_size;
        line-height: $fonts_tablet * $h4_line-height;
    }

    h5 {
        font-size: $fonts_tablet * $h5_size;
        line-height: $fonts_tablet * $h5_line-height;
    }

    h6 {
        font-size: $fonts_tablet * $h6_size;
        line-height: $fonts_tablet * $h6_line-height;
    }

    p {
        font-size: $fonts_tablet * $p_size;
        line-height: $fonts_tablet * $p_line-height;
    }
    
    ul li, ol li {
        font-size: $fonts_tablet * $ul_size;
        line-height: $fonts_tablet * $ul_line-height;
    }
    
    li a {
        font-size: $menu_tablet * $menu_size;
        line-height: $menu_tablet * $menu_line-height;
    }
}

@media #{$under-wrap} {
    h1.hero-title {
        font-size: $fonts_under-wrap * $h1_hero_size;
        line-height: $fonts_under-wrap * $h1_hero_line-height;
    }
    
    h1 {
        font-size: $fonts_under-wrap * $h1_size;
        line-height: $fonts_under-wrap * $h1_line-height;
    }

    h2 {
        font-size: $fonts_under-wrap * $h2_size;
        line-height: $fonts_under-wrap * $h2_line-height;
    }

    h3 {
        font-size: $fonts_under-wrap * $h3_size;
        line-height: $fonts_under-wrap * $h3_line-height;
    }

    h4 {
        font-size: $fonts_under-wrap * $h4_size;
        line-height: $fonts_under-wrap * $h4_line-height;
    }

    h5 {
        font-size: $fonts_under-wrap * $h5_size;
        line-height: $fonts_under-wrap * $h5_line-height;
    }

    h6 {
        font-size: $fonts_under-wrap * $h6_size;
        line-height: $fonts_under-wrap * $h6_line-height;
    }

    p {
        font-size: $fonts_under-wrap * $p_size;
        line-height: $fonts_under-wrap * $p_line-height;
    }
    
    ul li, ol li {
        font-size: $fonts_under-wrap * $ul_size;
        line-height: $fonts_under-wrap * $ul_line-height;
    }
    
    li a {
        font-size: $menu_under-wrap * $menu_size;
        line-height: $menu_under-wrap * $menu_line-height;
    }
}

@media #{$desktop} {
    h1.hero-title {
        font-size: $fonts_desktop * $h1_hero_size;
        line-height: $fonts_desktop * $h1_hero_line-height;
    }
    
    h1 {
        font-size: $fonts_desktop * $h1_size;
        line-height: $fonts_desktop * $h1_line-height;
    }

    h2 {
        font-size: $fonts_desktop * $h2_size;
        line-height: $fonts_desktop * $h2_line-height;
    }

    h3 {
        font-size: $fonts_desktop * $h3_size;
        line-height: $fonts_desktop * $h3_line-height;
    }

    h4 {
        font-size: $fonts_desktop * $h4_size;
        line-height: $fonts_desktop * $h4_line-height;
    }

    h5 {
        font-size: $fonts_desktop * $h5_size;
        line-height: $fonts_desktop * $h5_line-height;
    }

    h6 {
        font-size: $fonts_desktop * $h6_size;
        line-height: $fonts_desktop * $h6_line-height;
    }

    p {
        font-size: $fonts_desktop * $p_size;
        line-height: $fonts_desktop * $p_line-height;
    }
    
    ul li, ol li {
        font-size: $fonts_desktop * $ul_size;
        line-height: $fonts_desktop * $ul_line-height;
    }
    
    li a {
        font-size: $fonts_desktop * $menu_size;
        line-height: $fonts_desktop * $menu_line-height;
    }
}

@media #{$screen} {
    h1.hero-title {
        font-size: $fonts_screen * $h1_hero_size;
        line-height: $fonts_screen * $h1_hero_line-height;
    }
    
    h1 {
        font-size: $fonts_screen * $h1_size;
        line-height: $fonts_screen * $h1_line-height;
    }

    h2 {
        font-size: $fonts_screen * $h2_size;
        line-height: $fonts_screen * $h2_line-height;
    }

    h3 {
        font-size: $fonts_screen * $h3_size;
        line-height: $fonts_screen * $h3_line-height;
    }

    h4 {
        font-size: $fonts_screen * $h4_size;
        line-height: $fonts_screen * $h4_line-height;
    }

    h5 {
        font-size: $fonts_screen * $h5_size;
        line-height: $fonts_screen * $h5_line-height;
    }

    h6 {
        font-size: $fonts_screen * $h6_size;
        line-height: $fonts_screen * $h6_line-height;
    }

    p {
        font-size: $fonts_screen * $p_size;
        line-height: $fonts_screen * $p_line-height;
    }
    
    ul li, ol li {
        font-size: $fonts_screen * $ul_size;
        line-height: $fonts_screen * $ul_line-height;
    }
    
    li a {
        font-size: $fonts_screen * $menu_size;
        line-height: $fonts_screen * $menu_line-height;
    }
}
