.pre-header {
	padding: 5px 0;
    background-color: $preHeaderBgColor;
    color: $preHeaderColor;
}

.page-header {
    padding: 10px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
}
