.advert {
    &-list {

    }

    &-item {
        margin-bottom: 20px;
    }

    &-headline {
        font-size: 28px;
        margin-bottom: 10px;
    }

    &-preview {
        margin-bottom: 10px;

        a {
            display: block;
        }
    }

    &-thumbnail {
        display: block;
        margin-bottom: 0;
    }

    &-excerpt {
        margin-bottom: 10px;

        &,
        p {
            text-align: left;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }
    }
}
