//BRAND
$themeColorOne: #4b4b4b; // header, menu, footer, title, 
$themeColorTwo: #0027ff; // menu active item, button, footer link hover,
$themeColorThree: #00ff0a; //preHeader bg,
$themeColorFour: #f00; //menu hover item, table border, preHeader font

//BODY
$bodyBgColor: #fff; //white
$bodyFontColor: #000; // black

//PreHeader
$preHeaderBgColor: $themeColorThree;
$preHeaderColor: $themeColorFour;

//HEADER
$headerBgColor: $themeColorOne;
$headerFontColor: #000;

$headerHighlightBgColor: $themeColorTwo;
$headerHighlightColor: #fff;

//MENU
$menuBgColor: $themeColorOne;
$menuBgColorActive: $themeColorFour;
$menuFontColor: #fff;
$menuFontColorActive: #fff;

//FOOTER
$footerBgColor: $themeColorOne;
$footerFontColor: #fff;
$footerLinkColorActive: darken(#fff, 25%);

//WRAPPER
$wrapperBgColor: #fff;

//TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

//LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

//BUTTONS
$buttonFontColor: #fff;
$buttonFontColorActive: #fff;
$buttonBgColor: $themeColorTwo;
$buttonBgColorActive: lighten($themeColorTwo, 10%);
$buttonBorderColor: #000;

//TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

//TEXT
$textMutedColor: #aaa;

//Icons
$iconColor: $themeColorOne;
$iconColorActive: $themeColorTwo;
$iconColorReversed: $themeColorThree;

//FORM
$formBgColor: lighten($themeColorOne, 60%);

//FORM Field
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 30%);
$formFieldPadding: 7px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 13px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
