$mobile: "(max-width: 544px)"; //xs
$tablet: "(min-width: 545px) and (max-width: 768px)"; //sm
$laptop: "(min-width: 769px) and (max-width: 1024px)"; //md
$desktop: "(min-width: 1025px) and (max-width: 1366px)"; //lg
$screen: "(min-width: 1367px)"; //xl

//xs 544
@media #{$mobile} {}

//sm 545 - 768
@media #{$tablet} {}

//md 769 - 1024
@media #{$laptop} {}

//lg 1025 - 1366
@media #{$desktop} {}

//xl 1367 - 
@media #{$screen} {}
