$debug: false !default;
$image-url-path: "assets/img/" !default;
$font-url-path: "assets/fonts/" !default;
$borderRadius: 4px;
$shadow: 0 0 10px rgba(#000, .7);

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: #199ec7;

$menu-close-size: 25px;
$menu-close-color: #199ec7;
$menuContainerMobilePaddingTop: 100px;