$wooThemeColor: #f56b3e;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;

// message
$messageBorderTopColor: #8fae1b;
$messageIconFontColor: #8fae1b;